/* General
------------------------------------------------------------ */

.mtphr-members-metaboxer-admin-fields {
	padding-top: 10px;
}
.mtphr-members-metaboxer-loading-gif {
	opacity: 0;
}
.mtphr-members-metaboxer-appended {
	display: inline;
	margin-left: 10px;
}

/* Fields
------------------------------------------------------------ */

.mtphr-members-metaboxer-field {
	margin-bottom: 20px;
}
#side-info-column .mtphr-members-metaboxer-field {
	margin-bottom: 10px;
}
.mtphr-members-metaboxer-field:last-child {
	margin-bottom: 20px;
}

/* Labels
------------------------------------------------------------ */

.mtphr-members-metaboxer-label {
	vertical-align: top;
	width: 20%;
	overflow: hidden;
	padding-bottom: 20px;
	padding-right: 20px;
}
.mtphr-members-metaboxer-label label {
	display: block;
	font-weight: bold;
	font-size: 12px;
}
.mtphr-members-metaboxer-label small {
	font-size: 10px;
	font-style: italic;
}
#side-sortables .mtphr-members-metaboxer-label {
	width: auto;
	margin: 0;
	padding: 0;
}

/* Content
------------------------------------------------------------ */
.mtphr-members-metaboxer-field-content {
	width: 80%;
	vertical-align: top;
	padding-bottom: 20px;
}
.mtphr-members-metaboxer-field-content-full {
	width: 100%;
}
.vertical .mtphr-members-metaboxer-field-content,
#side-sortables .vertical .mtphr-members-metaboxer-field-content {
	float: none;
	width: auto;
}

/* Clearfix
------------------------------------------------------------ */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* Checkbox
------------------------------------------------------------ */

.mtphr-members-metaboxer-checkbox input {
	margin-top: 0;
	margin-right: 1px;
}

/* List
------------------------------------------------------------ */

.mtphr-members-metaboxer-list > table {
	width: 100%;
}
.mtphr-members-metaboxer-list th,
.mtphr-members-metaboxer-list td {
	text-align: left;
	vertical-align: top;
	padding: 0 3px;
}
.mtphr-members-metaboxer-list input[type="text"],
.mtphr-members-metaboxer-list input[type="number"],
.mtphr-members-metaboxer-list input[type="email"],
.mtphr-members-metaboxer-list input[type="password"],
.mtphr-members-metaboxer-list textarea {
	width: 100%;
}
.mtphr-members-metaboxer-list-item-handle,
.mtphr-members-metaboxer-list-item-add,
.mtphr-members-metaboxer-list-item-delete {
	width: 16px;
	padding-top: 4px !important;
}
.mtphr-members-metaboxer-list td.mtphr-members-metaboxer-list-item-handle {
	padding-left: 0;
}
.mtphr-members-metaboxer-list td.mtphr-members-metaboxer-list-item-add,
.mtphr-members-metaboxer-list td.mtphr-members-metaboxer-list-item-delete {
	padding-right: 0;
}
.mtphr-members-metaboxer-list-item-handle span,
.mtphr-members-metaboxer-list-item-add a,
.mtphr-members-metaboxer-list-item-delete a {
	display: block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
}
.mtphr-members-metaboxer-list-item-handle span {
	background: url(images/arrow-resize-090.png) no-repeat top;
}
.mtphr-members-metaboxer-list-item-add a {
	background: url(images/plus-circle.png) no-repeat top;
}
.mtphr-members-metaboxer-list-item-delete a {
	background: url(images/minus-circle.png) no-repeat top;
}
.mtphr-members-metaboxer-list-item-handle span:hover,
.mtphr-members-metaboxer-list-item-add a:hover,
.mtphr-members-metaboxer-list-item-delete a:hover {
	background-position: 0 -16px;
}

